<h1>Test h1 handlebars</h1>

{{!-- -ir a index.handlebars --}}
<div>
    <input type="text" name="" id="chatbox">
</div>

<div>
    <p id="messagesLogs"></p>
</div>

{{!-- script 2 --}}
{{!-- sweetalert --}}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- socket.io --}}
<script src="https://cdn.socket.io/4.7.4/socket.io.min.js"></script>
{{!-- script 1 --}}
<script src="js/main.js"></script>